<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Broadsword</string>
		<key>actionText</key>
		<string>Slash: Swing your sword in an arc dealing 1d6 + [STR] damage to enemies in front of you.</string>
		<key>descriptiveText</key>
		<string>The horizontal sweeping motion makes this sword effective against multiple enemies.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>broadsword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Kite Shield</string>
		<key>actionText</key>
		<string>Cover: Raise your shield over an ally standing next to you. They gain the benefits of the shield while they remain near you.</string>
		<key>descriptiveText</key>
		<string>Reduces physical damage received by 2.</string>
		<key>flavorText</key>
		<string>Medium metal shield. Decorated with a tower, the symbol of protection.</string>
		<key>imageName</key>
		<string>kiteshield</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bandit&apos;s Knife</string>
		<key>actionText</key>
		<string>Stab: Thrust at your opponent dealing 1d6 + [DEX] damage to an enemy.</string>
		<key>descriptiveText</key>
		<string>Highly effective when attacking from behind. Roll an extra 1d4 if attacking from behind.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>banditknife</string>
		<key>attributeRequirements</key>
		<array>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Battle Axe</string>
		<key>actionText</key>
		<string>Cleave: Cleave an opponent dealing 1d10 + [STR] damage to an enemy.</string>
		<key>descriptiveText</key>
		<string>Powerful attack due to its weight, but one wrong swing leaves the wielder wide open.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>battleaxe</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Short Bow</string>
		<key>actionText</key>
		<string>Shoot: Fire an arrow at your opponent dealing 1d6 + [DEX] to an enemy.</string>
		<key>descriptiveText</key>
		<string>Aiming is key.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>shortbow</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>twohand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sorcerer&apos;s Catalyst</string>
		<key>actionText</key>
		<string>Smack: Hit one enemy for 1d4 damage.</string>
		<key>descriptiveText</key>
		<string>Enhances the power of your spells. Roll an additional 1d4 damage when casting a spell.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>sorcerercatalyst</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 3</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Canvas Talisman</string>
		<key>actionText</key>
		<string>Smack: Hit one enemy for 1d4 damage.</string>
		<key>descriptiveText</key>
		<string>Improves chance to hit with miracles. Add 1 to your attack rolls when casting miracles.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>canvastalisman</string>
		<key>attributeRequirements</key>
		<array>
			<string>FAI 3</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Thief Mask</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Lowers critical hit range by 1.</string>
		<key>flavorText</key>
		<string>Mask of sinners. They hide their faces, stifle their voices and hide in the shadows.</string>
		<key>imageName</key>
		<string>thiefmask</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string>helmet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Mace</string>
		<key>actionText</key>
		<string>Smash: Hit one target for 1d6 + [STR] damage.</string>
		<key>descriptiveText</key>
		<string>Iron hammer with a protrusive pommel. Standard weapon for clerics.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>mace</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Longsword</string>
		<key>actionText</key>
		<string>Slice: Hit one target for 2d4 + [STR] damage.</string>
		<key>descriptiveText</key>
		<string>An accessible sword which inflicts consistent damage</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>longsword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Heater Shield</string>
		<key>actionText</key>
		<string>Cover: Raise your shield over an ally standing next to you. They gain the benefits of the shield while they remain near you.</string>
		<key>descriptiveText</key>
		<string>Reduces physical damage received by 1.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>heatershield</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soul Arrow</string>
		<key>actionText</key>
		<string>Conjure: Fires an arrow shaped bolt of magic dealing 1d4 + [INT] damage.</string>
		<key>descriptiveText</key>
		<string>Soul arrows inflict magic damage, making them effective against iron armor, tough scales, and other physically resilient materials.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>soularrow</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 2</string>
		</array>
		<key>itemSlot</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Spider Shield</string>
		<key>actionText</key>
		<string>Push: Knock an enemy to the ground with your shield. Deals 1d4 damage.</string>
		<key>descriptiveText</key>
		<string>Reduces physical damage received by 1 and prevents poison.</string>
		<key>flavorText</key>
		<string>Shield of the savage mountain bandits. Uniquely-shaped with a large black spider etched upon it.</string>
		<key>imageName</key>
		<string>spidershield</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Shortsword</string>
		<key>actionText</key>
		<string>Slash: Swing your sword in an arc dealing 1d6 + [STR] to up to two enemies in front of you.</string>
		<key>descriptiveText</key>
		<string>A quick and efficient sword useful for hit and run tactics.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>shortsword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Force</string>
		<key>actionText</key>
		<string>Pray: Creates a concussive blast in front of you, knocking smaller enemies backwards.</string>
		<key>descriptiveText</key>
		<string>Can only be used when a talisman is equipped.</string>
		<key>flavorText</key>
		<string>They say at the Bridge of Dün, a single cleric fought a legion of knights with only his prayers, their bodies found at the bottom.</string>
		<key>imageName</key>
		<string>force</string>
		<key>attributeRequirements</key>
		<array>
			<string>FAI 2</string>
		</array>
		<key>itemSlot</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Undead Asylum F2 East Key</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Key to the iron bars on the east side of the second floor of the North Undead Asylum.</string>
		<key>flavorText</key>
		<string>The Undead Asylum is a giant Undead prison, segmented by countless iron bars. Even if an Undead were to escape from a cell, passage to the outside world would not be gained easily.</string>
		<key>imageName</key>
		<string>undeadasylumeastkey</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Big Pilgrim&apos;s Key</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Key to the inner door of the Undead Asylum main hall.</string>
		<key>flavorText</key>
		<string>Big key belonging to a chosen Undead pilgrim. But this chosen Undead knows not what this pilgrimage has in store.</string>
		<key>imageName</key>
		<string>bigpilgrimkey</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dungeon Cell Key</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Key to the dungeon of the Undead Asylum to the North.</string>
		<key>flavorText</key>
		<string>A mysterious knight, without saying a word, shoved a corpse down into the cell, and on its person was this key. Who was this knight? And what was his purpose? There may be no answer, but one must still forge ahead.</string>
		<key>imageName</key>
		<string>dungeoncellkey</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Healing Flask</string>
		<key>actionText</key>
		<string>Use: Drink to restore 4 HP.</string>
		<key>descriptiveText</key>
		<string>A green bottle of unknown make. Fill it with fire at a bonfire, and drink from it to restore HP.</string>
		<key>flavorText</key>
		<string>An emerald flask, from the Keeper&apos;s soul 
She lives to protect the flame, 
And dies to protect it further.</string>
		<key>imageName</key>
		<string>healingflask</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string>accessory</string>
		<key>hasUseAction</key>
		<true/>
		<key>emptyVersion</key>
		<string>Empty Flask</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Empty Flask</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>A green bottle of unknown make. Fill it with fire at a bonfire, and drink from it to restore HP.</string>
		<key>flavorText</key>
		<string>An emerald flask, from the Keeper&apos;s soul 
She lives to protect the flame, 
And dies to protect it further.</string>
		<key>imageName</key>
		<string>emptyflask</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string>accessory</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Winged Spear</string>
		<key>actionText</key>
		<string>Thrust: Stab an enemy for 2d4 + [STR]. If the enemy is wearing armor, add 5 damage.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>A long-hilted spear with a barbed point. Long reach, and can be used with shield up. Effective against hard exteriors.</string>
		<key>imageName</key>
		<string>wingedspear</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 4</string>
			<string>DEX 4</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Zweihander</string>
		<key>actionText</key>
		<string>Cleave: Cleave any adjacent enemies for 2d8 + 2 * [STR]. Chance to knock an enemy down when struck.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>As the name suggests, the Zweihander is held with two hands, but its wielder must still be inhumanly strong. It is this great weight that sends foes flying when hit solidly.</string>
		<key>imageName</key>
		<string>zweihander</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 5</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>twohand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Binoculars</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Increases attack and damage rolls for ranged weapons by 2.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>binoculars</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 5</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>accessory</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ring of Sacrifice</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Prevents death caused by curses.</string>
		<key>flavorText</key>
		<string>This mystical ring was created in a sacrificial rite of Velka, the Goddess of Sin.</string>
		<key>imageName</key>
		<string>ringofsacrifice</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 5</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>accessory</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blue Tearstone Ring</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Reduce physical damage taken by 1.</string>
		<key>flavorText</key>
		<string>This blue tearstone from Catarina boosts the defence of its wearer when in danger.</string>
		<key>imageName</key>
		<string>bluetearstonering</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 5</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>accessory</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Uchigatana</string>
		<key>actionText</key>
		<string>Slash: Swing downward causing 2d6 + [DEX] damage to an enemy.</string>
		<key>descriptiveText</key>
		<string>Causes 2 additional bleed damage every time the enemy moves until it dies.</string>
		<key>flavorText</key>
		<string>Katana forged in an Eastern land. Known for its brisk slashing motions. The Uchigatana cuts beautifully and causes bleeding, but its blade is easily nicked.</string>
		<key>imageName</key>
		<string>uchigatana</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
			<string>DEX 3</string>
		</array>
		<key>itemSlot</key>
		<string>twohand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Black Knight Shield</string>
		<key>actionText</key>
		<string>Cover: Raise your shield over an ally standing next to you. They gain the benefits of the shield while they remain near you.</string>
		<key>descriptiveText</key>
		<string>Reduces physical damage received by 3. Prevents fire damage while covering.</string>
		<key>flavorText</key>
		<string>Shield of the Black Knights that wander Lordran. A flowing canal is chiseled deeply into its face.</string>
		<key>imageName</key>
		<string>blackknightshield</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Black Knight Sword</string>
		<key>actionText</key>
		<string>Slash: Swing your sword in an arc dealing 3d6 + [STR] to up to two enemies in front of you.</string>
		<key>descriptiveText</key>
		<string>Deals an extra 1d6 damage when used against demons.</string>
		<key>flavorText</key>
		<string>Greatsword of the black knights who wander Lordran. Used to face chaos demons.</string>
		<key>imageName</key>
		<string>blackknightsword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
			<string>DEX 3</string>
		</array>
		<key>itemSlot</key>
		<string>twohand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Firebomb</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Throw at an enemy to deal 3d6 fire damage.</string>
		<key>flavorText</key>
		<string>Bisque urn filled with black powder. Explodes, inflicting fire damage. Many warriors use these to augment their strategic repertoire.</string>
		<key>imageName</key>
		<string>firebomb</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string>accessory</string>
		<key>hasUseAction</key>
		<true/>
	</dict>
	<dict>
		<key>name</key>
		<string>Master Key</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>This universal key opens any basic lock. Tool of the trade for thieves.</string>
		<key>flavorText</key>
		<string>But in the cursed land of the Undead, most doors are left unopened.</string>
		<key>imageName</key>
		<string>masterkey</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Blood Spear</string>
		<key>actionText</key>
		<string>Conjure: Fires an spear shaped bolt of magic dealing 1d8 + [INT] damage. Lose 1 health.</string>
		<key>descriptiveText</key>
		<string>Forms a magical spear to pierce using your own blood as a catalyst. </string>
		<key>flavorText</key>
		<string>How else do you achieve power without a little blood, sweat, and tears?</string>
		<key>imageName</key>
		<string>bloodspear</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 5</string>
		</array>
		<key>itemSlot</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Black Leather Armor</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Reduces poison damage taken by 2.</string>
		<key>flavorText</key>
		<string>This armor made of smooth black leather is extremely quiet, a good thing for those who hide in the shadows.
The leather itself is thick, offering a decent level of protection.</string>
		<key>imageName</key>
		<string>blackleatherarmor</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>chest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gargoyle Helm</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Increases chance to hit with melee weapons by 1.</string>
		<key>flavorText</key>
		<string>Helm of the gargoyle, an enchanted creature that guards the Bell of Awakening in the belfry of the Undead Church.</string>
		<key>imageName</key>
		<string>gargoylehelm</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
			<string>DEX 1</string>
		</array>
		<key>itemSlot</key>
		<string>helmet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Demon&apos;s Catalyst</string>
		<key>actionText</key>
		<string>Smack: Hit one enemy for 1d4 damage.</string>
		<key>descriptiveText</key>
		<string>Enhances the power of your spells. Roll an additional 1d6 damage when casting a spell.</string>
		<key>flavorText</key>
		<string>Demon catalyst formed from Izalith molten
rock. Can be used as fire weapon.
The Demon Firesage was the first demon,
and the last master of the original fire
arts before the Witch of Izalith was
engulfed by Chaos, creating pyromancy.</string>
		<key>imageName</key>
		<string>sorcerercatalyst</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 5</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Rapier</string>
		<key>actionText</key>
		<string>Thrust: Stab an enemy for 1d6 + [DEX].</string>
		<key>descriptiveText</key>
		<string>When you are attacked, roll a d20. If 10+, counter attack for 1d6 damage.</string>
		<key>flavorText</key>
		<string>A rapier with intricate decorations. Chosen weapon of the infamous Undead Prince Ricard. Ricard&apos;s exploits are told in a monomyth.
He was born into royalty, but wandered the lands in a fateful ill-conceived journey. He became Undead, and disappeared up North.</string>
		<key>imageName</key>
		<string>rapier</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ricard&apos;s Rapier</string>
		<key>actionText</key>
		<string>Thrust: Stab an enemy for 2d4 + [DEX].</string>
		<key>descriptiveText</key>
		<string>When you are attacked, roll a d20. If 10+, counter attack for 2d6 damage.</string>
		<key>flavorText</key>
		<string>Standard thrusting sword. Regular one-handed attack can be delivered with shield held up. Can parry with use of left hand.
Thrusting attacks pierce and are effective against foes with hard exteriors, but the wielder is left open to damage after a swing.</string>
		<key>imageName</key>
		<string>ricardsrapier</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
			<string>DEX 4</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Fang Boar Helm</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Decreases damage taken by physical attacks by 1. Increases damage taken by magical attacks by 1.</string>
		<key>flavorText</key>
		<string>Severed head of the fully-armored Fang Boar taken by the one who killed it as proof of his victory, just as the Gods once did with the head of the ancient dragon.
Can be worn on the head as a surprisingly sound piece of protective gear.</string>
		<key>imageName</key>
		<string>fangboarhelm</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
			<string>DEX 1</string>
		</array>
		<key>itemSlot</key>
		<string>helmet</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Drake Sword</string>
		<key>actionText</key>
		<string>Strike: Strike an enemy dealing 2d6 + 2 * [STR] to an enemy.</string>
		<key>descriptiveText</key>
		<string>When attacking, you may choose to deal an additional 3d6 damage. If you do, roll a d20. If you roll 5 or less, the drake sword breaks after use.</string>
		<key>flavorText</key>
		<string>This Sword, one of the rare dragon weapons, is formed by a drake&apos;s tail. Drakes are seen as undeveloped imitators of the dragons, but in they are likely their distant kin.
The sword is imbued with a mystical power, to be released when held with both hands.</string>
		<key>imageName</key>
		<string>drakesword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 3</string>
			<string>DEX 1</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Gargoyle Tail Axe</string>
		<key>actionText</key>
		<string>Cut: Strike an enemy dealing 2d6 + [STR] + [DEX] to an enemy.</string>
		<key>descriptiveText</key>
		<string>The axe bends as you swing it, dealing damage to all enemies in an arc front of you.</string>
		<key>flavorText</key>
		<string>Sliced tail of the gargoyle guarding the Bell of Awakening in the Undead Church.</string>
		<key>imageName</key>
		<string>gargoyleaxe</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>twohand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Basement Key</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>Opens the narrow passage leading below at the far face of the great bridge in the Undead Burg.
The lower Undead Burg is a treacherous place. Do not turn your back on the wily thieves, or the wild dogs who serve the Capra Demon.</string>
		<key>imageName</key>
		<string>basementkey</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Sorcerer Cloak</string>
		<key>actionText</key>
		<string>Shield: Shield an ally preventing the next 5 magic damage taken.</string>
		<key>descriptiveText</key>
		<string>Increases magic damage done by 1, and reduces magic damage taken by 1.</string>
		<key>flavorText</key>
		<string>Cloak worn by proper sorcerers who studied at Vinheim Dragon School.</string>
		<key>imageName</key>
		<string>sorcerercloak</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
			<string>DEX 2</string>
		</array>
		<key>itemSlot</key>
		<string>chest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Ghost Blade</string>
		<key>actionText</key>
		<string>Strike: Stab an enemy for 2d6 + [DEX].</string>
		<key>descriptiveText</key>
		<string>When attacking from behind, deal an additional 1d4 damage.</string>
		<key>flavorText</key>
		<string>The ghosts of New Londo clutch this wickedly cursed dagger with their bony hands and make mincemeat of the living.</string>
		<key>imageName</key>
		<string>ghostblade</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
			<string>DEX 3</string>
		</array>
		<key>itemSlot</key>
		<string>onehand</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Key to Depths</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>Key opening the door from the lower Undead Burg to the Depths.
Those banished from the Undead Burg eke out their existence in the Depths, a damp lair with no trace of sunlight. Nearly half of the Depths form a perilous flooded labyrinth.</string>
		<key>imageName</key>
		<string>keytodepths</string>
		<key>attributeRequirements</key>
		<array/>
		<key>itemSlot</key>
		<string></string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dark Boots</string>
		<key>actionText</key>
		<string>Shadowstep: Move instantly behind your enemy. You may use this ability rather than moving on your turn.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>Boots of the Darkwraiths, former knights
of New Londo who descended into Dark.

Their boots transformed, and remain a
symbol of the Dark servants and their
diabolical art of Lifedrain.</string>
		<key>imageName</key>
		<string>darkboots</string>
		<key>attributeRequirements</key>
		<array>
			<string>DEX 4</string>
		</array>
		<key>itemSlot</key>
		<string>boots</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Dark Breastplate</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>When attacking, if you deal damage, deal an additional [DEX] in damage, and gain that much life.</string>
		<key>flavorText</key>
		<string>Boots of the Darkwraiths, former knights
of New Londo who descended into Dark.

Their boots transformed, and remain a
symbol of the Dark servants and their
diabolical art of Lifedrain.</string>
		<key>imageName</key>
		<string>darkbreastplate</string>
		<key>attributeRequirements</key>
		<array>
			<string>DEX 4</string>
		</array>
		<key>itemSlot</key>
		<string>chest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Soul Storm</string>
		<key>actionText</key>
		<string>Conjure: Summon an [INT] number of orbs each dealing 1d4 damage.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>This spell was said to have been devised
by a master sorcerer, but his name is
long forgotten.</string>
		<key>imageName</key>
		<string>soulstorm</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 6</string>
		</array>
		<key>itemSlot</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Bloody Soul Storm</string>
		<key>actionText</key>
		<string>Conjure: Summon an [INT] number of orbs each dealing 1d4 + [INT] damage. You lose [INT] health.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>This spell was said to have been devised
by a master sorcerer, but his name is
long forgotten.</string>
		<key>imageName</key>
		<string>bloodysoulstorm</string>
		<key>attributeRequirements</key>
		<array>
			<string>INT 7</string>
		</array>
		<key>itemSlot</key>
		<string>spell</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Elite Knight Armor</string>
		<key>actionText</key>
		<string></string>
		<key>descriptiveText</key>
		<string>Reduces physical damage taken by 2.</string>
		<key>flavorText</key>
		<string>Armor of a nameless knight, perhaps an elite knight of Astora, based on the fire-warding heraldic symbol on its blue surcoat.
Although he was loath to give up on his Undead mission, he perished at the Undead Asylum, and went Hollow.</string>
		<key>imageName</key>
		<string>eliteknightarmor</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 4</string>
			<string>DEX 1</string>
		</array>
		<key>itemSlot</key>
		<string>chest</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Chester&apos;s Long Coat</string>
		<key>actionText</key>
		<string>Consume: Prevent the damage of the next magical attack to hit you. Add [STR] to your next attack and heal for [FAI] health.</string>
		<key>descriptiveText</key>
		<string></string>
		<key>flavorText</key>
		<string>Black leather long coat worn by Marvellous Chester, a man of mystery lost in the past.</string>
		<key>imageName</key>
		<string>chesterslongcoat</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 4</string>
			<string>DEX 1</string>
		</array>
		<key>itemSlot</key>
		<string>chest</string>
	</dict>
</array>
</plist>
