<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Broadsword</string>
		<key>actionText</key>
		<string>Slash: Swing your sword in an arc dealing 1d6 damage to enemies in front of you.</string>
		<key>descriptiveText</key>
		<string>A straight sword useful for slashing at enemies.</string>
		<key>flavorText</key>
		<string>The flavor text of the item. Lots of flavor goes here. But never Banana. Banana sucks.</string>
		<key>imageName</key>
		<string>broadsword</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 1</string>
		</array>
		<key>itemSlots</key>
		<array>
			<string>onehand</string>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>Kite Shield</string>
		<key>actionText</key>
		<string>Block: Raise your shield to prevent 50% of the damage you would receive before your next turn.</string>
		<key>descriptiveText</key>
		<string>Medium metal shield. Decorated with a tower, the symbol of protection.</string>
		<key>flavorText</key>
		<string></string>
		<key>imageName</key>
		<string>kiteshield</string>
		<key>attributeRequirements</key>
		<array>
			<string>STR 2</string>
		</array>
		<key>itemSlots</key>
		<array>
			<string>onehand</string>
		</array>
	</dict>
</array>
</plist>
