<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Introduction</key>
	<string>In the age of Ancients, the world was unformed. Shrouded by fog. A land of gray crags, archtrees and everlasting dragons.
        
But then there was fire. And with fire, came desparity. Heat... and cold. Life... and death. And of course, light and dark. Then from the dark, they came. And found the souls of lords within the flame.

Nito, the first of the dead.

The Witch of Izalith, and her daughters of Chaos.

Gwyn, the lord of Sunlight. And his faithful knights.

And the furtive pygmy, so easily forgotten.

With the strength of lords, they challenged the dragons.

Gwyn&apos;s mighty bolts, peeled apart their stone skins.

The witches weaved great firestorms.

Nito unleashed a miasma of death and disease.

And Seath the Scaleless betrayed his own, and the dragons were no more.

Thus began the Age of Fire. But soon, the flames will fade, and only dark will remain. Even now, there are only embers, and man sees not light, but only endless nights. And amongst the living are seen, carriers of the accursed darksign.</string>
</dict>
</plist>
