<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hollow</key>
	<dict>
		<key>AC</key>
		<integer>10</integer>
		<key>Health</key>
		<integer>3</integer>
		<key>To Hit</key>
		<integer>10</integer>
		<key>Soul Value</key>
		<integer>20</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Swing</string>
				<key>description</key>
				<string>Swing his hand viciously for 1d4 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Frenzy</string>
				<key>description</key>
				<string>Attacks everyone nearby for 1d4 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array/>
	</dict>
	<key>Hollow Soldier</key>
	<dict>
		<key>AC</key>
		<integer>11</integer>
		<key>Health</key>
		<integer>5</integer>
		<key>To Hit</key>
		<integer>10</integer>
		<key>Soul Value</key>
		<integer>40</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Swing</string>
				<key>description</key>
				<string>Swing his sword in an arc hitting everyone in front of him for 1d6 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stab</string>
				<key>description</key>
				<string>Stab one target for 1d8 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Shield</string>
				<key>description</key>
				<string>Reduces physical damage taken by 1.</string>
			</dict>
		</array>
	</dict>
	<key>Hollow Archer</key>
	<dict>
		<key>AC</key>
		<integer>10</integer>
		<key>Health</key>
		<integer>5</integer>
		<key>To Hit</key>
		<integer>11</integer>
		<key>Soul Value</key>
		<integer>40</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Shoot</string>
				<key>description</key>
				<string>Shoot&apos;s a crossbow bolt at a target dealing 1d6+1 damage.</string>
				<key>diceRoll</key>
				<string>1-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Shield</string>
				<key>description</key>
				<string>Reduces physical damage taken by 1.</string>
			</dict>
		</array>
	</dict>
	<key>Black Knight</key>
	<dict>
		<key>AC</key>
		<integer>14</integer>
		<key>Health</key>
		<integer>33</integer>
		<key>To Hit</key>
		<integer>9</integer>
		<key>Soul Value</key>
		<integer>500</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Cleave</string>
				<key>description</key>
				<string>Swing his greatsword in an arc dealing 2d6 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stab</string>
				<key>description</key>
				<string>Stab one target for 2d6+4 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Shield</string>
				<key>description</key>
				<string>Reduces physical damage taken by 3.</string>
			</dict>
		</array>
	</dict>
	<key>Undead Male Merchant</key>
	<dict>
		<key>AC</key>
		<integer>12</integer>
		<key>Health</key>
		<integer>33</integer>
		<key>To Hit</key>
		<integer>11</integer>
		<key>Soul Value</key>
		<integer>250</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Slash</string>
				<key>description</key>
				<string>Swing his katana dealing 2d6 damage.</string>
				<key>diceRoll</key>
				<string>1-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array/>
	</dict>
	<key>Asylum Demon</key>
	<dict>
		<key>AC</key>
		<integer>12</integer>
		<key>Health</key>
		<integer>30</integer>
		<key>To Hit</key>
		<integer>8</integer>
		<key>Soul Value</key>
		<integer>2000</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Hammer Drive</string>
				<key>description</key>
				<string>Hits one target directly in front of him for 1d6 damage. Cannot be dodged.</string>
				<key>diceRoll</key>
				<string>1-6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hammer Swing</string>
				<key>description</key>
				<string>Swings his hammer in an arc in front of him for 1d6 damage.</string>
				<key>diceRoll</key>
				<string>7-14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hammer Smash</string>
				<key>description</key>
				<string>A downward smash hitting enemies at a long range in front of him for 2d4 damage.</string>
				<key>diceRoll</key>
				<string>15-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Slam</string>
				<key>description</key>
				<string>Flies up into the air. Falls onto the enemies near him for 3d4 damage.</string>
				<key>diceRoll</key>
				<string>1-7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Leaping Hammer Smash</string>
				<key>description</key>
				<string>Flutters his wings. Leaps at the furthest enemy from him for 2d4 damage.</string>
				<key>diceRoll</key>
				<string>7-14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Double Hammer Swing</string>
				<key>description</key>
				<string>Cocks hammer back to his side. Swings twice at enemies in front of him for 2d6 damage.</string>
				<key>diceRoll</key>
				<string>15-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Death From Above</string>
				<key>description</key>
				<string>This enemy can be struck for an additional 10 * number of players damage once, if attacked from above.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Soft Under Belly</string>
				<key>description</key>
				<string>Takes 1 additional physical damage from frontal attacks.</string>
			</dict>
		</array>
	</dict>
	<key>Taurus Demon</key>
	<dict>
		<key>AC</key>
		<integer>7</integer>
		<key>Health</key>
		<integer>80</integer>
		<key>To Hit</key>
		<integer>8</integer>
		<key>Soul Value</key>
		<real>4000</real>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Leap</string>
				<key>description</key>
				<string>Leaps into the air reversing his direction, slamming the ground for 1d6 + 2 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Axe Pound</string>
				<key>description</key>
				<string>A downward axe thrust hitting enemies in front of him for 2d6 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Jumping Pound</string>
				<key>description</key>
				<string>Crouches down. Leaps towards any enemy outside of his reach dealing 2d6 + 5 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Giant Swing</string>
				<key>description</key>
				<string>Cocks the greataxe back. Swings in an arc in front of him for 3d4 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Demon</string>
				<key>description</key>
				<string>This enemy is vulnerable to demon weapons.</string>
			</dict>
		</array>
	</dict>
	<key>Berenike Knight</key>
	<dict>
		<key>AC</key>
		<integer>13</integer>
		<key>Health</key>
		<integer>20</integer>
		<key>To Hit</key>
		<integer>11</integer>
		<key>Soul Value</key>
		<integer>250</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Bash</string>
				<key>description</key>
				<string>Slams his heavy mace in front of him for 1d8. Ignores shields.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Swing</string>
				<key>description</key>
				<string>Hits enemies in an arc for 1d8 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Cover</string>
				<key>description</key>
				<string>Hides behind his shield. After being struck in the front retaliates by bashing opponent to the ground.</string>
				<key>diceRoll</key>
				<string>1-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Heavy Shield</string>
				<key>description</key>
				<string>Reduces physical damage taken by 2.</string>
			</dict>
		</array>
	</dict>
	<key>Channeler</key>
	<dict>
		<key>AC</key>
		<integer>9</integer>
		<key>Health</key>
		<integer>13</integer>
		<key>To Hit</key>
		<integer>13</integer>
		<key>Soul Value</key>
		<integer>150</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Stab</string>
				<key>description</key>
				<string>Stabs an opponent with the trident for 1d6 physical.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Soul Arrow</string>
				<key>description</key>
				<string>Magical arrow for 1d8 magic damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Ritual Dance</string>
				<key>description</key>
				<string>Increases damage for all nearby enemies by 2x.</string>
				<key>diceRoll</key>
				<string>1-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>No Armor.</string>
				<key>description</key>
				<string>Increase phyiscal damage taken by 2.</string>
			</dict>
		</array>
	</dict>
	<key>Hellkite Dragon</key>
	<dict>
		<key>AC</key>
		<integer>7</integer>
		<key>Health</key>
		<integer>100</integer>
		<key>To Hit</key>
		<integer>8</integer>
		<key>Soul Value</key>
		<real>4000</real>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Claw</string>
				<key>description</key>
				<string>Claws at the target in front of him. 1d8 damage physical damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Tail Swipe</string>
				<key>description</key>
				<string>Swipes with his tail behind him. Deals 2d6 physical damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Flame Breath</string>
				<key>description</key>
				<string>Breathes in heavily. Deals 2d10 fire damage.</string>
				<key>diceRoll</key>
				<string>1-8</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Swipe</string>
				<key>description</key>
				<string>Takes flight above the bridge. Flies across raking the bridge. Deals 1d12 damage.</string>
				<key>diceRoll</key>
				<string>9-17</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Flying Fire</string>
				<key>description</key>
				<string>Takes flight above the bridge. Breathes flames across the bridge, deals 2d10 fire damage.</string>
				<key>diceRoll</key>
				<string>18-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Thick Scales</string>
				<key>description</key>
				<string>Reduces physical damage taken by 4.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Thick Scales</string>
				<key>description</key>
				<string>Reduces physical damage taken by 4.</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
