<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hollow</key>
	<dict>
		<key>AC</key>
		<integer>10</integer>
		<key>Health</key>
		<integer>3</integer>
		<key>To Hit</key>
		<integer>10</integer>
		<key>Soul Value</key>
		<integer>20</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Swing</string>
				<key>description</key>
				<string>Swing his hand viciously for 1d4 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Frenzy</string>
				<key>description</key>
				<string>Attacks everyone nearby for 1d4 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array/>
	</dict>
	<key>Hollow Soldier</key>
	<dict>
		<key>AC</key>
		<integer>11</integer>
		<key>Health</key>
		<integer>5</integer>
		<key>To Hit</key>
		<integer>10</integer>
		<key>Soul Value</key>
		<integer>40</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Swing</string>
				<key>description</key>
				<string>Swing his sword in an arc hitting everyone in front of him for 1d6 damage.</string>
				<key>diceRoll</key>
				<string>1-10</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Stab</string>
				<key>description</key>
				<string>Stab one target for 1d8 damage.</string>
				<key>diceRoll</key>
				<string>11-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array/>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Shield</string>
				<key>description</key>
				<string>Reduces physical damage taken by 1.</string>
			</dict>
		</array>
	</dict>
	<key>Asylum Demon</key>
	<dict>
		<key>AC</key>
		<integer>12</integer>
		<key>Health</key>
		<integer>27</integer>
		<key>To Hit</key>
		<integer>8</integer>
		<key>Soul Value</key>
		<integer>2000</integer>
		<key>Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Hammer Drive</string>
				<key>description</key>
				<string>Hits one target directly in front of him for 1d6 damage. Cannot be dodged.</string>
				<key>diceRoll</key>
				<string>1-6</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hammer Swing</string>
				<key>description</key>
				<string>Swings his hammer in an arc in front of him for 1d6 damage.</string>
				<key>diceRoll</key>
				<string>7-14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Hammer Smash</string>
				<key>description</key>
				<string>A downward smash hitting enemies at a long range in front of him for 2d4 damage.</string>
				<key>diceRoll</key>
				<string>15-20</string>
			</dict>
		</array>
		<key>Signaled Attacks</key>
		<array>
			<dict>
				<key>name</key>
				<string>Slam</string>
				<key>description</key>
				<string>Flies up into the air. Falls onto the enemies near him for 3d4 damage.</string>
				<key>diceRoll</key>
				<string>1-7</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Leaping Hammer Smash</string>
				<key>description</key>
				<string>Flutters his wings. Leaps at the furthest enemy from him for 2d4 damage.</string>
				<key>diceRoll</key>
				<string>7-14</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Double Hammer Swing</string>
				<key>description</key>
				<string>Cocks hammer back to his side. Swings twice at enemies in front of him for 2d6 damage.</string>
				<key>diceRoll</key>
				<string>15-20</string>
			</dict>
		</array>
		<key>Attributes</key>
		<array>
			<dict>
				<key>name</key>
				<string>Death From Above</string>
				<key>description</key>
				<string>This enemy can be struck for an additional 10 * number of players damage once, if attacked from above.</string>
			</dict>
			<dict>
				<key>name</key>
				<string>Soft Under Belly</string>
				<key>description</key>
				<string>Takes 1 additional physical damage from frontal attacks.</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
